<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- System Permission -> granted automatically -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <!-- SDK <= 32 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- SDK >= 33 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- == More granular drop-in for READ_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>

        <!-- ..Services -->

        <service
            android:name="com.w2sv.screenshotlistening.ScreenshotListener"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="TODO" />
        </service>

        <service
            android:name="com.w2sv.screenshotlistening.CropIOService"
            android:exported="false" />

        <service
            android:name="com.w2sv.screenshotlistening.ScreenshotListener$CleanupService"
            android:exported="false" />

        <!-- ..Receivers -->

        <receiver android:name="com.w2sv.screenshotlistening.ScreenshotListener$OnCancelledFromNotificationListener" />

        <!-- ..Activities -->

        <activity
            android:name="com.w2sv.screenshotlistening.ScreenshotDeleteRequestActivity"
            android:excludeFromRecents="true"
            android:noHistory="true" />

    </application>
</manifest>