<?xml version="1.0" encoding="utf-8"?>

<!-- package name not to be touched (due to app already having been uploaded to playstore) -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bunsenbrenner.screenshotboundremoval">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- setting requestLegacyExternalStorage to true effectuates opting out of
         scoped storage for API 29 = Android 10 to enable external storage writing
         Reference: https://developer.android.com/training/data-storage/use-cases#modify-delete-media -->
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="false"
        android:icon="@mipmap/brudineletten"
        android:roundIcon="@mipmap/brudineletten_round"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <!-- Activities -->
        <activity
            android:name="com.autocrop.activities.welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.autocrop.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.autocrop.activities.examination.ExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme"
            android:parentActivityName="com.autocrop.activities.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autocrop.activities.main.MainActivity" />
        </activity>

    </application>

</manifest>