<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bunsenbrenner.screenshotboundremoval">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/brudineletten"
        android:roundIcon="@mipmap/brudineletten_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme.NoActionBar">

        <!-- Activities -->
        <activity
            android:name="com.autocrop.activities.welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.autocrop.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.autocrop.activities.examination.ExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppTheme.NoActionBar"
            android:parentActivityName="com.autocrop.activities.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autocrop.activities.main.MainActivity" />
        </activity>
    </application>

</manifest>