<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For launching the crop screen as first app destination and querying images without the
    photo picker for quicker debugging -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy,SelectedPhotoAccess" />
</manifest>
